*.o
w2c2
w2c2_test
tests/assert_*.c
tests/*.json
tests/*.wat
tests/test_*
tests/*.[0-9]*.wasm
*.gba
*.nds
*.elf
compile_flags.txt
examples/clang/clang
examples/dino*/dino
examples/coremark/coremark
examples/rust-wasi/rust-wasi
.DS_Store
/.idea
